.tile {
  border: 1px solid lightgrey;
  border-radius: 5px;
  margin: 1rem 0.1rem;
  cursor: pointer;
  width: 300px;
  height: 400px;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}
.tile:hover {
  box-shadow: 0 0 11px rgba(33, 33, 33, 0.2);
}
.image {
  height: 50%;
  margin: 0 auto;
}
.tile-body {
  height: 50%;
  display: flex;
  flex-direction: column;
  justify-content: top;
  text-align: left;
  padding: 0.1rem 0.5rem;
  font-size: small;
}
a {
  text-decoration: none;
  color: black;
}
img {
  max-width: 100%;
  max-height: 100%;
  margin: auto;
  display: block;
}
